<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAILS</title>
</head>

<body>
    <header>
        <h1>DETAILS</h1>
        <nav>
            <a href="/">HOME</a>
            <a href="/selectData">FAV</a>
        </nav>
    </header>

    <main>

    </main>

    <footer>

    </footer>
</body>

</html>